.container {
    position: relative;
}
.root {
    display: grid;
    position: relative;
    color: white;
    background-color: #369;
    background-image: url(./assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}